
\.vs/TBC_ZE_AllInOne_FightClasses/v15/\.suo

\.vs/TBC_ZE_AllInOne_FightClasses/v15/Server/sqlite3/db\.lock

\.vs/TBC_ZE_AllInOne_FightClasses/v15/Server/sqlite3/storage\.ide

\.vs/TBC_ZE_AllInOne_FightClasses/v15/Server/sqlite3/storage\.ide-shm

\.vs/TBC_ZE_AllInOne_FightClasses/v15/Server/sqlite3/storage\.ide-wal

\.vs/Wrobot/v15/\.suo

\.vs/Wrobot/v15/Server/sqlite3/db\.lock

\.vs/Wrobot/v15/Server/sqlite3/storage\.ide

\.vs/ZEEnhancementShaman/v15/\.suo

\.vs/ZEEnhancementShaman/v15/Server/sqlite3/db\.lock

\.vs/ZEEnhancementShaman/v15/Server/sqlite3/storage\.ide

\.vs/ZEFuryWarrior/v15/\.suo

\.vs/ZEFuryWarrior/v15/Server/sqlite3/db\.lock

\.vs/ZEFuryWarrior/v15/Server/sqlite3/storage\.ide

\.vs/ZEHunter/v15/\.suo

\.vs/ZEHunter/v15/Server/sqlite3/db\.lock

\.vs/ZEHunter/v15/Server/sqlite3/storage\.ide

\.vs/ZEPaladin/v15/\.suo

\.vs/ZEPaladin/v15/Server/sqlite3/db\.lock

\.vs/ZEPaladin/v15/Server/sqlite3/storage\.ide

\.vs/ZEPriest/v15/\.suo

\.vs/ZEPriest/v15/Server/sqlite3/db\.lock

\.vs/ZEPriest/v15/Server/sqlite3/storage\.ide

Wrobot/bin/Debug/TBC_ZE_AllInOne_FightClasses\.dll

Wrobot/bin/Debug/TBC_ZE_AllInOne_FightClasses\.pdb

Wrobot/obj/

Wrobot/AutoUpdater.cs
Wrobot/Main.cs